.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: center;
}

.footer-container {
  height: 25;
  width: 25;
}